In [1]:
import pandas as pd

In [2]:
from matplotlib import font_manager, rc 

font_name=font_manager.FontProperties(fname="C:/Windows/Fonts/malgun.ttf").get_name() 
rc('font', family=font_name)

In [3]:
df=pd.read_excel('평가데이터.xlsx', encoding='utf-8', header=1)
df.head(5)

,방송일시,노출(분),마더코드,상품코드,상품명,상품군,판매단가,취급액
0,2020-06-01 06:20:00,20.0,100650,201971,잭필드 남성 반팔셔츠 4종,의류,59800,NaN
1,2020-06-01 06:40:00,20.0,100650,201971,잭필드 남성 반팔셔츠 4종,의류,59800,NaN
2,2020-06-01 07:00:00,20.0,100650,201971,잭필드 남성 반팔셔츠 4종,의류,59800,NaN
3,2020-06-01 07:20:00,20.0,100445,202278,쿠미투니카 쿨 레이시 란쥬쉐이퍼&팬티,속옷,69900,NaN
4,2020-06-01 07:40:00,20.0,100445,202278,쿠미투니카 쿨 레이시 란쥬쉐이퍼&팬티,속옷,69900,NaN

In [4]:
del df['취급액']

In [5]:
df=df.drop(df[df['상품군']=='무형'].index)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2716 entries, 0 to 2890
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   방송일시    2716 non-null   datetime64[ns]
 1   노출(분)   1617 non-null   float64
 2   마더코드    2716 non-null   int64
 3   상품코드    2716 non-null   int64
 4   상품명     2716 non-null   object
 5   상품군     2716 non-null   object
 6   판매단가    2716 non-null   int64
dtypes: datetime64[ns](1), float64(1), int64(3), object(2)
memory usage: 169.8+ KB

In [6]:
df=df.fillna(method = 'ffill')
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2716 entries, 0 to 2890
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   방송일시    2716 non-null   datetime64[ns]
 1   노출(분)   2716 non-null   float64
 2   마더코드    2716 non-null   int64
 3   상품코드    2716 non-null   int64
 4   상품명     2716 non-null   object
 5   상품군     2716 non-null   object
 6   판매단가    2716 non-null   int64
dtypes: datetime64[ns](1), float64(1), int64(3), object(2)
memory usage: 169.8+ KB

In [7]:
df=df.replace(['의류', '속옷', '주방', '농수축', '이미용', '가전',  '생활용품', '건강기능', '잡화', '가구', '침구'],
              [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11])

In [8]:
df['요일']=df['방송일시'].dt.month
df=df.replace(['월', '화', '수', '목', '금', '토', '일'], [1, 2, 3, 4, 5, 6, 7])

In [9]:
df= df.astype({'노출(분)':'int64'})
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2716 entries, 0 to 2890
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   방송일시    2716 non-null   datetime64[ns]
 1   노출(분)   2716 non-null   int64
 2   마더코드    2716 non-null   int64
 3   상품코드    2716 non-null   int64
 4   상품명     2716 non-null   object
 5   상품군     2716 non-null   int64
 6   판매단가    2716 non-null   int64
 7   요일      2716 non-null   int64
dtypes: datetime64[ns](1), int64(6), object(1)
memory usage: 191.0+ KB

In [10]:
df['월']=df['방송일시'].dt.month
df['시간대']=df['방송일시'].dt.hour
df['날짜']=df['방송일시'].dt.day
df['분']=df['방송일시'].dt.minute
df.head(5)

,방송일시,노출(분),마더코드,상품코드,상품명,상품군,판매단가,요일,월,시간대,날짜,분
0,2020-06-01 06:20:00,20,100650,201971,잭필드 남성 반팔셔츠 4종,1,59800,6,6,6,1,20
1,2020-06-01 06:40:00,20,100650,201971,잭필드 남성 반팔셔츠 4종,1,59800,6,6,6,1,40
2,2020-06-01 07:00:00,20,100650,201971,잭필드 남성 반팔셔츠 4종,1,59800,6,6,7,1,0
3,2020-06-01 07:20:00,20,100445,202278,쿠미투니카 쿨 레이시 란쥬쉐이퍼&팬티,2,69900,6,6,7,1,20
4,2020-06-01 07:40:00,20,100445,202278,쿠미투니카 쿨 레이시 란쥬쉐이퍼&팬티,2,69900,6,6,7,1,40

In [11]:
df['시간대']=df['방송일시'].dt.hour
df.head()

,방송일시,노출(분),마더코드,상품코드,상품명,상품군,판매단가,요일,월,시간대,날짜,분
0,2020-06-01 06:20:00,20,100650,201971,잭필드 남성 반팔셔츠 4종,1,59800,6,6,6,1,20
1,2020-06-01 06:40:00,20,100650,201971,잭필드 남성 반팔셔츠 4종,1,59800,6,6,6,1,40
2,2020-06-01 07:00:00,20,100650,201971,잭필드 남성 반팔셔츠 4종,1,59800,6,6,7,1,0
3,2020-06-01 07:20:00,20,100445,202278,쿠미투니카 쿨 레이시 란쥬쉐이퍼&팬티,2,69900,6,6,7,1,20
4,2020-06-01 07:40:00,20,100445,202278,쿠미투니카 쿨 레이시 란쥬쉐이퍼&팬티,2,69900,6,6,7,1,40

In [12]:
df

,방송일시,노출(분),마더코드,상품코드,상품명,상품군,판매단가,요일,월,시간대,날짜,분
0,2020-06-01 06:20:00,20,100650,201971,잭필드 남성 반팔셔츠 4종,1,59800,6,6,6,1,20
1,2020-06-01 06:40:00,20,100650,201971,잭필드 남성 반팔셔츠 4종,1,59800,6,6,6,1,40
2,2020-06-01 07:00:00,20,100650,201971,잭필드 남성 반팔셔츠 4종,1,59800,6,6,7,1,0
3,2020-06-01 07:20:00,20,100445,202278,쿠미투니카 쿨 레이시 란쥬쉐이퍼&팬티,2,69900,6,6,7,1,20
4,2020-06-01 07:40:00,20,100445,202278,쿠미투니카 쿨 레이시 란쥬쉐이퍼&팬티,2,69900,6,6,7,1,40
...,...,...,...,...,...,...,...,...,...,...,...,...
2883,2020-07-01 00:10:00,10,100099,200273,[일시불]라쉬반 FC바로셀로나 드로즈 패키지,2,99000,7,7,0,1,10
2884,2020-07-01 00:10:00,10,100099,200272,[무이자]라쉬반 FC바로셀로나 드로즈 패키지,2,119000,7,7,0,1,10
2885,2020-07-01 00:10:00,10,100099,200274,라쉬반 FC바로셀로나 드로즈 8종,2,119000,7,7,0,1,10
2889,2020-07-01 01:20:00,20,100261,200875,아놀드파마 티셔츠레깅스세트,1,69900,7,7,1,1,20
2890,2020-07-01 01:40:00,15,100261,200875,아놀드파마 티셔츠레깅스세트,1,69900,7,7,1,1,40

In [13]:
df.to_excel("평가데이터_완성.xlsx")